.listUl{
    list-style: none;
}

.listUl .listLi{
    float: left;
    height: 240px;
    margin-right: 24px;
    padding: 24px;
    border: 1px solid #ccc;
}

.listItem{
    float:left;
    margin-right: 5px;
}